<Response>
    <Say voice="woman" language="ja-jp">
      こんにちはははははは。通話を終了します。
    </Say>
    <Play>https://api.twilio.com/cowbell.mp3</Play>
    <Message>
        <Body>スマイル！</Body>
        <Media>http://i1.ytimg.com/vi/iZLr-aOvnLI/maxresdefault.jpg</Media>
    </Message>
</Response>