<?xml version="1.0" encoding="UTF-8"?>
<Response>
    <Play>http://twilio-mac.herokuapp.com/mac.mp3</Play>
    <Message>
        <Body>スマイル！</Body>
        <Media>http://i1.ytimg.com/vi/iZLr-aOvnLI/maxresdefault.jpg</Media>
    </Message>
</Response>